{#
  ContentSection
  Almost every content block on the site is one of these.
  There are a few variants for single/double column and various background options.
  You could rop this approach or add more options to suit your site...
  ---
  CMS _data:
    -
  ---
  args:
    class='',
      String
      Optional (adds custom classes to the <section> tag)
    secondaryColour=false,
      Boolean
    id=''
      String
      Optional
    collapseTop=false, // give the CMS editor some control over padding consecutive sections...
    collapseBottom=false, // give the CMS editor some control over padding consecutive sections...
    lazy=true, // we default to lazy loading the background - page headers opt out of this
    isAChild=false // does it not constitute a whole <section>?
  ---
#}

{% macro ContentSection(
  class='',
  secondaryColour=false,
  id='',
  collapseTop=false,
  collapseBottom=false,
  lazy=true,
  isAChild=false
) %}
{% set content = caller() %} {# ref: https://github.com/mozilla/nunjucks/issues/664 #}

  <{{ 'section' if not isAChild else 'div'}}
    class="ContentSection {{
      class
    }} ContentSection--back-{{
      'secondary' if secondaryColour else 'primary'
    }} ContentSection--{{
      'top-collapse' if collapseTop else 'top-uncollapsed'
    }}
    ContentSection--{{
      'bottom-collapse' if collapseBottom else 'bottom-uncollapsed'
    }}"

    {% if id %}
      id={{id}}
    {% endif %}
  >

    {#
      The actual content.
      This will be one or two columns of stuff!
    #}
    <div class="ContentSection__content u-flows">
      {{ content }}
    </div>
  </{{ 'section' if not isAChild else 'div'}}>

{% endmacro %}
