{#
  SiteHeader component
  ---
  CMS _data:
    -
  ---
  args:
    transparent = true
      Optional
      Boolean
  ---
#}

{% from "components/Logo.njk" import Logo with context %}
{% from "components/Nav.njk" import Nav with context %}
{% from "components/Wrap.njk" import Wrap with context %}

{% macro SiteHeader(
  hideNav = false,
  hideLogo = false
) %}
<header role="banner" class="SiteHeader{{ ' SiteHeader--no-nav' if hideNav }}{{ ' SiteHeader--no-logo' if hideLogo }}">

  {% call Wrap(flavour='columns') %} {# columns width Wrap #}

    {#
      site logo or name
    #}
    {% if not hideLogo %}
      <div class="SiteHeader__logo">
        <a href="/">
          {{
            Logo()
          }}
        </a>
      </div>
    {% endif %}


    {#
      site nav
    #}
    {% if not hideNav %}
      <div class="SiteHeader__nav">
        {{
          Nav()
        }}
      </div>
    {% endif %}

  {% endcall %} {# Wrap #}
</header>
{% endmacro %}
