{#
  Extend base template
#}
{% extends 'layouts/base.njk' %}

{#
  Import components
#}
{% from "components/CustomContent.njk" import CustomContent with context %}


{% block content %}
  <main id="main-content" class="site-main site-main--page" tabindex="-1">
    {{
      CustomContent(genericContentBlocks)
    }}
  </main>
{% endblock %}
