{#
  Extend base template
#}
{% extends 'layouts/base.njk' %}

{#
  Import components
#}
{% from "components/HeaderText.njk" import HeaderText with context %}
{% from "components/ContentSection.njk" import ContentSection with context %}
{% from "components/RichText.njk" import RichText with context %}
{% from "components/GalleryImage.njk" import GalleryImage with context %}
{% from "components/Wrap.njk" import Wrap with context %}


{% block content %}
  <main id="main-content" class="site-main site-main--work" >
    {% call ContentSection(
      class='WorkSection',
      secondaryColour=false
    ) %}
      <button
        class="WorkGallery__overlay__prev js--carousel__nav-link"
        data-action="prev"
      >
        &lt;
      </button>
      <button class="WorkGallery__overlay__next js--carousel__nav-link"
        data-action="next"
      >
        &gt;
      </button>
      <div class="WorkGallery js--carousel__draggable">
        {% if projectContent | length > 0 %}
          {% for contentBlock in projectContent %}

            {% if contentBlock.image %}
              <div
                class="WorkGallery__content WorkGallery__content--image js--carousel__slide{{
                  ' js--carousel__slide--active js--carousel__slide--trans-in' if loop.first
                }}"
                id="item-{{loop.index}}"
              >
                {#
                  to lazy load images:
                  lazy=(loop.index0 > 0)

                  we have disabled because loading the images is the whole point of the site and we want them on screen asap.

                  Could look at preload + lazy loading potentially...
                #}
                {{
                  GalleryImage(
                    img=contentBlock.image
                  )
                }}
              </div>
            {% elif contentBlock.embed %}
              <div
                class="WorkGallery__content WorkGallery__content--embed js--carousel__slide{{
                  ' js--carousel__slide--active js--carousel__slide--trans-in' if loop.first
                }}"
                id="item-{{loop.index}}"
              >
                {% call Wrap(flavour='', flows=true) %} {# max width Wrap with flow #}
                  <div
                    class="ResponsiveEmbed"
                    style="padding-bottom:{{ contentBlock.embedRatio | default('56.25') }}%;"
                  >
                    {{
                      contentBlock.embed | safe
                    }}
                  </div>
                {% endcall %} {# Wrap #}
              </div>
            {% endif %}

          {% endfor %}
        {% endif %}
      </div>
    {% endcall %} {# ContentSection #}
  </main>
{% endblock %}


{% block sub %}
  <section id="work-details" class="WorkDetails" >
    {% call ContentSection(
      class='WorkSection',
      secondaryColour=false
    ) %}
      <div class="WorkDetails__details">
        <h2 class="WorkDetails__title">
          <span
            class="WorkDetails__title__title"
          >
            {{title}}
          </span>
          {% if projectDate %}
            ({{projectDate}})
          {% endif %}
        </h2>
        <div class="WorkDetails__count">
          <button
            class="WorkDetails__count__prev anchor-button js--carousel__nav-link"
            data-action="prev"
          >
            &lt;
          </button>
          <span class="WorkDetails__count__current js--carousel__current-count">
            1
          </span>
          <span class="WorkDetails__count__divider">
            /
          </span>
          <span class="WorkDetails__count__total">
            {{projectContent | length}}
          </span>
          <button class="WorkDetails__count__next anchor-button js--carousel__nav-link"
            data-action="next"
          >
            &gt;
          </button>
        </div>
        {% if description %}
          <div class="WorkDetails__information-toggle">
            <a
              href="#project-information"
              class="js--toggler js--scroll-to-target"
              data-target="project-information"
            >
              Project Information
            </a>
          </div>
        {% endif %}
      </div>

      {% if description %}
        <div
          id="project-information"
          class="WorkDetails__project-information js--inactive js--activate-on-focus"
          data-target="project-information"
        >
          <div class="WorkDetails__project-information__description">
            {{
              RichText(
                content=description,
                align='left'
              )
            }}
          </div>
        </div>
      {% endif %}

    {% endcall %} {# ContentSection #}
  </section>
{% endblock %}
